.container {
    margin-left:15px;
    margin-right:15px;
}
.text-center{
    text-align:center;
}
.navbar{
    width: 50vh;
}
.navbar a{
    color:white;
}
.bg-dark{
    color:white;
    background-color: rgb(20, 20, 20);
}